.buttonContainer {
  margin-top: 20px;
}
.randomContainer{
  padding-top: 0px;
  border-radius: 0px 0px 5px 5px;
}
.randomButton {
  background: conic-gradient(
    #DB4437 20deg, #F4B400 100deg,
    #F4B400 140deg, #0F9D58 220deg,
    #0F9D58 260deg, #DB4437 340deg
      );
}