.buttonContainer {
  margin-top: 20px;
}
.randomContainer{
  padding-top: 0px;
  border-radius: 0px 0px 5px 5px;
}
.randomButton {
  background: conic-gradient(
    #F4B400 20deg,  #0F9D58 100deg,
    #0F9D58 140deg, #DB4437 220deg,
    #DB4437 260deg, #F4B400 340deg
      );
}